streamlit
openai
google-genai
pillow
pathlib
st-theme
langchain-google-genai
langchain
langchain-community
XlsxWriter
langchain-openai
langchain-qdrant
langgraph
openai
pandas
qdrant-client
python-dotenv